<!DOCTYPE html>
<html>
<head>
	<title>Create New User</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<form class="from-group" method="POST" action="/users/create">
		{% csrf_token %}
		{% csrf_token%}
		{% if messages %}
			{% for message in messages%}
			<p style="color : red;">{{message}}</p>
			{% endfor%}
		{% endif%}	
		<label for ="first_name">First Name:</label>
		<input type="text" name="first_name" class="form-control" value="">

		<label for="last_name">Last Name:</label>
		<input type="text" name="last_name" class="form-control" value="">

		<label for="email">Email:</label>
		<input type="email" name="email" class="form-control" value="">
		<button class="btn btn-primary" type="submit">Create</button>
	</form>
</body>
</html>