<!DOCTYPE html>
<html>
<head>
	<title>Show Users</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<h1>User</h1>
	{% csrf_token %}
		{% csrf_token%}
		{% if messages %}
			{% for message in messages%}
			<p style="color : limegreen;">{{message}}</p>
			{% endfor%}
		{% endif%}
	<p>Full Name: {{users.first_name}} {{users.last_name}} </p>
	<p>Email: {{users.email}}</p>
	<p>Created at: {{users.create_at}}</p>
	<a href="/users/{{users.id}}/edit">Edit</a>
	<hr>
	<a href="/users/{{users.id}}/destroy">Delete</a>
	<a href="/users" class="btn btn-primary">Go Back</a>
</body>
</html>